/*------------
    RESET
-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------
    GENERAL
-------------*/
header{
    background-color: #FD6900;
    color: white;
    padding: 10px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

main > div:first-child{
    margin-bottom: 50px;
}

.logo{
    height: 30px;
}

.col-33{
    width: calc(100% / 3);
    padding: 10px;
    position: relative;
}

.col-special{
    width: 50%;
}

.icons{
    text-align: end;
}

.icons > *{
    padding-left: 8px;
}

.discount{
    position: absolute;
    bottom: 130px;
}

span{
    color: white;
    font-size: small;
    padding: 5px;
}

div > span:last-child{
    background-color: green;
}

div > span:first-child{
    background-color: red;
}

.img, .img-b{
    max-width: 380px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-b{
    display: none;
}

section:hover .img-b{
    display: inline-block;
}

section:hover .img{
    display: none;
}

figcaption > *{
    color: black;
}

.price{
    color: red;
}

.previous-price{
    text-decoration: line-through;
}




